<div class="search_bar">
    <nav class="navbar navbar-dark bg-dark">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search By
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Title</a>
                <a class="dropdown-item" href="#">Artist</a>
                <a class="dropdown-item" href="#">Price</a>
            </div>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>

<div id="outer_div">
    {{#each art}}
    <label>
        <input type="checkbox" />
        <div class="card" style="box-sizing: unset">
            <div class="front"><img src="{{artwork.imgUrl}}" /></div>
            <div class="back">
                <h1 id="art_title">Title: </h1>
                <h4>{{artwork.title}}</h4>
                <h3 id="art_artist">Artist: </h3>
                <h4>{{artist.firstname}} {{artist.lastname}}</h4>
                <h3 id="art_price">Price: {{artwork.price}}</h3>
                <h3 id="art_quantity">Quantity: {{artwork.inStock}}</h3>
                <button class="fav_btn">★</button>
                <button class="cart_btn">🛒</button>
            </div>
        </div>
    </label>
    {{/each}}
</div>